// .containerHero {
//   width: 100%;
//   height: 840px;
//   background-color: var(--blue);
//   display: flex;
//   align-items: center;
//   justify-content: center;

.containerHero {
  height: 700px;
  min-width: 600px;
  img.heroImage {
    width: 100%;
    max-width: 100%;
    position: relative;
    margin-top: -12%;
    filter: brightness(0.9);
    z-index: -1;
  }
  .textDiv {
    left: 60%;
    top: 40%;
    position: absolute;
    background-color: transparent;
    padding: 0;

    .heroTitle {
      font-weight: 600;
      font-size: 36px;
      color: var(--white);
    }

    .heroSubtitle {
      font-weight: 300;
      font-size: 20px;
      color: var(--white);
    }

    .heroButton {
      margin-top: 5rem;
      border-radius: 20px;
      padding: 10px 30px;
      color: var(--white);
      background-color: var(--orange);
      border: none;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .containerHero {
    .textDiv {
      .heroTitle {
        font-size: 32px;
      }
      .heroButton {
        margin-top: 3rem;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .containerHero {
    .textDiv {
      top: 30%;
      left: 58%;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 20px;
      .heroTitle {
        font-size: 28px;
      }
      .heroSubtitle {
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-width:480px) {
  .containerHero {
    .textDiv{
      left: 20%;
      width: 60%;
      background-color: rgba(0, 0, 10, 0.4);
    }
  }
}
