#root {
  --orange: #ff6b35;
  --cyan: #06d6a0;
  --blue: #52c9e1;
  --dark-blue: #001524;
  --gray: #38686a;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}
