.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--white);
    height: 420px;

    .imageCardDiv {
        .imageCard {
            width: 320px;
        }
    }
}