.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  height: 500px;

  .imageCardDiv {
    .imageCard {
      width: 380px;
      height: 220px;
    }
  }

  .infoDiv {
    margin-left: 36px;
    margin-top: 24px;
    .placeInfo {
      font-size: 20px;
      font-weight: 300;
      color: var(--dark-blue);
      text-transform: uppercase;
    }
    .subtitleInfo {
      font-size: 14px;
      font-weight: 200;
      color: var(--dark-blue);
      text-transform: uppercase;
    }
    .priceInfo {
      margin-top: 36px;
      color: var(--blue);
    }
  }

  .subInfoDiv {
    display: flex;
    flex-direction: row;
    margin-left: 36px;
    margin-top: 48px;
    gap: 20px;

    .info {
      display: flex;
      flex-direction: column;

      .topText {
        color: var(--dark-blue);
      }

      .bottomText {
        color: var(--dark-blue);
        font-weight: 200;
      }
    }
  }
}
